h2 {
	color: red;
}

a.btn.btn-primary.btn-add-seance {
	color: white;
	background-color: red;
	border: none;
}
a.btn.btn-primary.btn-add-seance:hover {
	color: #333;
	background-color: transparent;
	border: 1px solid red;
}